@model Fitness.WebUI.ViewModels.LoginViewModel;

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-3 ">
        <form class="form-horizontal shadow-lg shadow-red p-4" asp-controller="Home" asp-action="Login" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center mt-2">
                <div class="col-md-5">
                    <input type="submit" value="Log in" class="btn btn-outline-dark"/>
                </div>
                <div class="col-md-5">
                    <a href="/Account/Register" class="btn btn-outline-dark">Create</a>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
  .shadow-lg.shadow-red {
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5) !important;
  }
</style>