@model Fitness.WebUI.ViewModels.RegisterViewModel

<div>
    <div class="d-flex justify-content-center">
        <form asp-controller="Account" asp-action="Register" class="form-horizontal">
            <div class="form-group">
                <label asp-for="Email" class="col-md-15 control-lable">Email</label>
                <div class="col-md-15">
                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"/>
                </div>
            </div>
             <div class="form-group mt-2">
                <label asp-for="Email" class="col-md-15 control-lable">Password</label>
                <div class="col-md-55">
                    <input asp-for="Email" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Email" class="text-danger"/>
                </div>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ConfirmPassword" class="col-md-15 control-lable">Confirm Password</label>
                <div class="col-md-55">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Email"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"/>
                </div>
            </div>
            <div class="form-group mt-2 d-flex justify-content-between">
                <div class="col-md-55">
                    <input type="submit" value="Register" class="btn btn-outline-primary"/>
                </div>
                <div class="col-md-55">
                    <a href="/" class="btn btn-outline-primary px-4">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>