@model Fitness.WebUI.ViewModels.RegisterViewModel


<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-3 ">
        <form asp-controller="Account" asp-action="Register" class="form-horizontal shadow-red shadow-lg p-4">
            <div class="form-group">
                <label asp-for="Email" class="col-md-15 control-lable">Email</label>
                <div class="col-md-15">
                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"/>
                </div>
            </div>
                <div class="form-group mt-2">
                <label asp-for="Password" class="col-md-15 control-lable">Password</label>
                <div class="col-md-55">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"/>
                </div>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ConfirmPassword" class="col-md-15 control-lable">Confirm Password</label>
                <div class="col-md-55">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Email"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"/>
                </div>
            </div>
            <div class="form-group mt-2 d-flex justify-content-center">
                <div class="col-md-55">
                    <input type="submit" value="Register" class="btn btn-outline-dark me-2"/>
                </div>
                <div class="col-md-55">
                    <a href="/Account/login" class="btn btn-outline-dark px-4">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>


<style>
  .shadow-lg.shadow-red {
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5) !important; 
  }
</style>