@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-white vh-100 m-5 shadow-red d-flex justify-content-center">
    <h1 class="text-shadow mt-5">App para Atividades Físicas</h1>
</div>


<style>
    .shadow-red {
        box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5);
    }

    .text-shadow {
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    }
</style>